<div id="<%= dom_id user %>">
  <div>
    <strong>Phone number:</strong>
    <%= user.phone_number %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= user.email %>
  </div>

  <div>
    <strong>First name:</strong>
    <%= user.first_name %>
  </div>

  <div>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </div>

</div>
