<div style="color: green"><%= notice %></div>

<%= render @user %>

<div>
  <%= link_to "Edit this patient", edit_user_path(@user) %> |
  <%= link_to "Back to patient", users_path %>

  <%= button_to "Destroy this patient", @user, method: :delete %>
</div>
